<div class="project-score">
		<span class="score" id="commentscore<%=comment.id%>"><%=comment.score%></span><br>
		<a href="javascript:vote('comment',<%=comment.id%>,1)"><i class="icon thumbs icon-thumbsup-small"></i></a>
		<a href="javascript:vote('comment',<%=comment.id%>,-1)"><i class="icon thumbs icon-thumbsdown-small"></i></a>
	</div>
<li class="well">
	<div class="comment-name"><%=link_to(comment.user.name, "/perfil/"+comment.user.id.to_s) %> (<%=comment.user.karma%>) dice:</div>
	<p class='comment-text'><%=comment.text%></p>
	<div class="commentlinks">
		<div style="float:left;width:200px;margin-top:4px">
			hace <%=time_ago_in_words(comment.created_at)%>
		</div>
		<div style="float:right">
			<% if comment.created_at>6.hours.ago && comment.user.id==current_user.id %>
			<a href="/deletecomment/<%=comment.id%>" class="btn btn-mini btn-danger">Eliminar</a>
		<% end %>
		<a href="javascript:reply('comment',<%=comment.id%>)" class="btn btn-mini">Responder</a>
		
		<% if comment.comments.count>0 %>
		<a href="javascript:expandthread(<%=comment.id%>)" id="expand-btn-<%=comment.id%>" class="btn btn-mini"><%=comment.comments.count%> respuestas</a>
		<a href="javascript:closethread(<%=comment.id%>)" id="close-btn-<%=comment.id%>" style="display:none" class="btn btn-mini">cerrar</a>
		<% end %>
		</div>

	</div>
</li>
<ul class="thread" id="thread<%=comment.id%>" style="display:none">
	<%=render comment.comments.order("score DESC") %>
</ul>