<div class="project">
	<div class="project-score">
		<span class="score" id="projectscore<%=project.id%>"><%=project.score%></span><br>
		<a href="javascript:vote('project',<%=project.id%>,1)" class="thumbs icon-thumbsup">
			SI
		</a>
		<a href="javascript:vote('project',<%=project.id%>,-1)" class="thumbs icon-thumbsdown">
			NO
		</a>
	</div>
	<div class="project-detail">
		<h1><%=link_to project.title, "/projects/"+project.remoteid%></h1>
		<span class="label label-<%=project.statuscolor%>"><%=project.statusdescription%></span>
	</div>
</div>