
<% if @projects.length>0 %>

<div class="row-fluid">
	<div class="span9">
	<ul class="nav nav-pills">
	  <li class="<%="active" unless params[:order] || params[:status] %>">
	    <a href="/">Últimos Discutidos</a>
	  </li>
	  <li class="<%="active" if params[:order]=="id" %>"><a href="/?order=id">Últimos Ingresados</a></li>
	  <li class="<%="active" if params[:status]=="1" %>"><a href="/?status=1">Aprobados</a></li>
	  <li class="<%="active" if params[:status]=="2" %>"><a href="/?status=2">Retirados</a></li>
	</ul>
	<%=render @projects%>	
	
<%=paginate @projects%>
</div>
<div class="span3">
	hola
</div>
</div>
<% else %>
<h1>Lo sentimos</h1>
<p>No hay resultados para la búsqueda :(</p>
<p>Crees que esto es un error? <a href="/contacto">Contáctate con nosotros!</a>
<% end %>