<style type="text/css">
	.project {
		border-bottom: none;
	}
</style>
<%=render @project%>
<div class="tabs">
	<ul class="nav nav-tabs">
	  <li class="active">
	    <a href="#comments-tab" data-toggle="tab" id="comments-tab-link">Comentarios</a>
	  </li>

	  <li><a href="#official-discussion-tab" data-toggle="tab">Trámites (<%=@project.updates.count%>)</a></li>
	  <li><a href="#document1-tab" data-toggle="tab">Documento (beta)</a></li>
	  <li><a href="#document2-tab" data-toggle="tab">Ficha en senado.cl</a></li>
	  <% if @project.congressmen.count>0 %>
	  <li><a href="#authors-tab" data-toggle="tab">Autores (<%=@project.congressmen.count%>)</a></li>
	  <% end %>
	  <% if current_user && current_user.admin? %>
	  <li><a href="#document3-tab" data-toggle="tab">Debug</a></li>
	  <% end %>

	</ul>
	<div class="tab-content">
		<div class="tab-pane active" id="comments-tab">
	<div class="comment-btn">
			<% if current_user %>
				<a href="javascript:reply('project',<%=@project.id%>)" class="btn btn-large">Escribir un comentario</a>
			<% else %>
				Debes estar registrado para comentar. puedes <a href="/users/sign_in">Iniciar Sesión</a> o <a href="/users/sign_up">Registrarte</a>
			<% end %>
			</div>
			<ul id="comments">
			<% if @project.comments.count>0 %>
				<%=render @project.comments.order("score DESC") %>
			<% else %>
				<p id="nocomments">No hay comentarios en este proyecto</p>
			<% end %>
			</ul>
			
		</div>
		<div  class="tab-pane" id="official-discussion-tab">
			<table class="table table-striped">
		
			<% @project.updates.order("date DESC").each do |update| %>
				<%=render update%>
			<% end %>
			</table>
		</div>
		<div class="tab-pane" id="document1-tab">
			<iframe frameborder="0"src="<%=@project.documenturl%>" style="width:100%;height=500px" height="500">
			</iframe>
		</div>
		<div class="tab-pane" id="document2-tab">
			<iframe frameborder="0"src="http://sil.senado.cl/cgi-bin/sil_proyectos.pl?<%=@project.remoteid%>" style="width:100%;height=500px" height="500">
			</iframe>
		</div>
		<div class="tab-pane" id="authors-tab">
			<table class="table table-striped">
			<% @project.congressmen.each do |congressman| %>
			<tr>
				<td><%=render congressman%></td>
			</tr>
			<% end %>
			</table>
		</div>
		<div class="tab-pane" id="document3-tab">
			<iframe src="http://www.senado.cl/wspublico/tramitacion.php?boletin=<%=@project.remoteid.split("-")[0]%>" style="width:100%;height=500px" height="500">
			</iframe>
		</div>

	</div>
</div>
