<!DOCTYPE html>
<html>
<head>
  <title>Camarapublica</title>
<link href='http://fonts.googleapis.com/css?family=Fenix' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Inika' rel='stylesheet' type='text/css'>
  <script type="text/javascript">

	<% if current_user %>
  	var current_user=<%=current_user.id%>
  <% else %>
  var current_user=0
  <% end %>
    </script>

  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container-fluid">
	<header>
		<h2 id="logo"><a href="/">#camarapublica</a></h2>
		<nav id="search">
			<form class="navbar-search pull-left" action="/">
		  	<input type="text" class="search-query" placeholder="Buscar" name="q" value="<%=params[:q]%>">
		</form>
		</nav>
	</header>
	   <% if notice %>

		<div class="alert alert-info">
		  <button type="button" class="close" data-dismiss="alert">&times;</button>
		  <%= notice %>
		</div>

	   <% elsif alert %>
		<div class="alert">
		  <button type="button" class="close" data-dismiss="alert">&times;</button>
		  <%= alert %>
		</div>

       <% end %>

<div class="row-fluid">
	<div class="span9">
<%= yield %>
</div>
<aside class="span3">
	<%=render "layouts/sidebar"%>
</aside>
</div>

</div>

</body>
</html>
